<?xml version='1.0' encoding='utf-8'?>
<widget id="pachore.suhas.timeTable" version="0.0.10" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Timetable</name>
    <description>
        Time Table application for school kids.
    </description>
    <author email="Suhas.Pachore@gmail.com" href="http://cordova.io">
        Suhas Pachore, Pune, India
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/img/time-table-logo.png" />
        <splash src="www/img/time-table-splash.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~5.1.1" />
    <engine name="browser" spec="~4.1.0" />
    <preference name="SplashScreenDelay" value="7000" />
    <plugin name="cordova-plugin-firebase" spec="~0.1.14" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.0" />
</widget>
